@import "~normalize.css";

html, body {
  height: 100%;
}

@font-face {
  font-family: "FontName";
  src: url("./../fonts/ColorTube-Regular.ttf") format("truetype");
 }

:root {
  font-family: 'FontName';
  color: #41fb00;
  letter-spacing: 0.4em;
  font-weight: 600;
}

.wrapperInit {
  display: flex;
  text-align: center;
  position: absolute;
  left:0;
  top:0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: 100%;
  align-items: center;
  justify-content: center;

  background-image: url(./../media/background_2.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapperShrek {
  display: none;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;

  background-size: 100%;
  background-image: url(./../media/background_2.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../media/shrek_parallax.gif);
}

.birthday-text {
  color: red;
}

.animated-word {
  margin: 0 50px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  outline: 3px solid;
  line-height: 1.5;
  outline-color: rgba(71, 126, 232, 0.5);
  outline-offset: 10px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}


.round {
  margin-top: 50px; 
  width: 10em;
  height: 10em;
  border: 2px solid red;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
  background-position: 0 0;
  animation: background 2s infinite alternate;
  &_href {
    border-radius: 0;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }
}

@keyframes background {
  100% {
    background-position: 0 200px;
  }
}

.b-show {
  display: block;
  animation: showBlock 5s linear forwards;
}

.b-hide {
  animation: hideBlock 3s linear forwards;
}

.wrapperDancingShrek {
  display: none;
  position: absolute;
  left:0;
  top:0;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.shrekBlock {
  width: 33.33vw;
  height: 35.5vw;
  background-image: url(./../media/shrek_main.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;
  animation-duration: 0s;
  animation-name: appearance;
    animation-iteration-count: 1;
  animation-fill-mode: forwards;
    animation-timing-function: linear;  
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.link1, .link2, .link3, .link4, .link5, .link6, .shrekBlock 
{
  animation-delay: 0s;
}
.link2
{
  animation-delay: 2s;   
}
.link3
{
  animation-delay: 4s;   
}
.link4
{
  animation-delay: 6s;   
}

.link5
{
  animation-delay: 7.5s;   
}

.link6
{
  animation-delay: 11s; 
}

@keyframes appearance
{
  from
  {
    display: none;
    opacity: 0;
  }
  to
  {
    display: block;
    opacity: 1;
  }
}

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: system-ui;
  font-size: 25px;
  color: blue;
  font-weight: 300;
  text-transform: capitalize;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.mainTextAnimation {
  background-color: white;
  text-align: center;
  opacity: 0;
  animation-duration: 0s;
  animation-name: appearance;
    animation-iteration-count: 1;
  animation-fill-mode: forwards;
    animation-timing-function: linear;  
}